/*---------FONTE---------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*------------VARIÁVEIS GLOBAIS------------------*/
:root {
    --cor-primaria: #43679D;
    --cor-primaria-escura: #0D1321;
    --cor-bg: #B3E3F9;
    --cor-branco: #ffffff;
    --cor-borda: #ddd;
    --cor-sombra: rgba(0, 0, 0, 0.15);
    --cor-texto: #333;

    --fonte: 'Roboto', sans-serif;

    --raio: 0.8rem;
    --transition: 0.3s ease;

}

/** -------- reset css--------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(var(--cor-primaria, --cor-primaria-escura));
}